<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>URL Shortener Microservice</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main class="container">
      <header>
        <h2>API Project: URL Shortener Microservice</h2>
      </header>
      <section>
        <h3>User Story: </h3>
        <ol>
          <li>I can POST a URL to <code>[project_url]/api/shorturl/new</code> and I will receive a shortened URL in the JSON response.<br>Example : <code>{"original_url":"www.google.com","short_url":1}</code></li>
          <li>If I pass an invalid URL that doesn't follow the <code>http(s)://www.example.com(/more/routes)</code> format, the JSON response will contain an error like <code>{"error":"invalid URL"}</code><br>
          HINT: to be sure that the submitted url points to a valid site you can use the function <code>dns.lookup(host, cb)</code> from the <code>dns</code> core module.</li>
          <li>When I visit the shortened URL, it will redirect me to my original link.</li>
        </ol>
      </section>
      <section>
        <h3 class="page-title">Short URL Creation </h3>
        <form class="url-form">
          <label for="url-input-id">URL to be shortened</label>
          <input class="url-input" id="url-input-id" type="text" name="url" placeholder="Paste in a link" required autofocus />
          <button class="submit-button" type="submit">Shorten</button>
        </form>
      </section>
      <section class="result-section">

      </section>
      <footer class="footer">
        <p>
          by <a href="https://fobabs.com/">FOBABS</a>
        </p>
      </footer>
    </main>

    <script src="index.js"></script>
  </body>
</html>